* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(241, 239, 239);
}

#header {
    margin: 0 0;
    padding: 0;
    min-width: 100%;
    float: left;
    border-bottom: 3px solid rgb(226, 226, 226);
}

#full-name {
    background-color:#16858d;
    float: left;
    position: absolute;
    margin-left: 70px;
    z-index: 2;
    padding: 10px;
    min-width: 250px;
}

#full-name h1 {
    text-align: center;
    font-size: 37px;
    color: white;
}

#navbar {
    background-color: white;
    z-index: 1;
    height: 70px;
    float: left;
    position: relative;
}

#navbar nav {
    list-style-type: none;
    float: right;
}

#navbar nav ul {
    display: inline-block;
}

#navbar nav ul li {
    display: inline-block;
}

#navbar nav ul li a {
    color: rgb(102, 102, 102);
}

#navbar nav ul li a:hover {
    color: #34b5b9;
}

#content {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

#footer {
    background-color: gray;
    padding: 25px;
    border-top: 6px solid #16858d;
    position: relative;
    clear: both;
    min-width: 100%;
}

#footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #full-name {
        margin: 0;
        padding: 10px;
        width: 100%;
        position: relative;
    }

    #navbar nav {
        justify-self: center;
        margin: 0;
        float: left;
    }
}