#about-me {
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    float: left;
    background-color: white;
    border: 3px solid rgb(226, 226, 226);
    align-self: left;
    position: relative;
    min-width: 350px;
}

#about-me h1 {
    padding: 10px;
    border-bottom: 3px solid rgb(226, 226, 226);
    width: 100%;
    color: rgb(102, 102, 102);
}

#info {
    float: left;
    position: relative;
    justify-content: center;
}

#img {
    justify-content: center;
    float: left;
}

#img img {
    max-height: 200px;
    margin-bottom: 20px;
    height: 100%;
    float: left;
    position: relative;
}

#paragraph p {
    float: left;
    position: relative;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    #paragraph p {
        margin: 0;
    }
}