#about-me {
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    float: left;
    background-color: white;
    border: 3px solid rgb(226, 226, 226);
    align-self: left;
    min-width: 650px;
}

#about-me h1 {
    padding: 10px;
    border-bottom: 3px solid rgb(226, 226, 226);
    width: 100%;
    color: rgb(102, 102, 102);
}

#info {
    float: left;
    position: relative;
    justify-content: center;
}


#info img {
    max-height: 200px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
}

#info p {
    position: relative;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    #about-me {
        min-width: 200px;
        margin: 20px;
        justify-content: center;
    }

    #info {
        justify-content: center;
    }

    #info img {
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-height: 300px;
    }

    #info p {
        margin: 0;
        float: left;
    }
}